




body{
	font: 10px, Arial, Helvetica, sans-serif;
	margin: 0;
	max-width: 100%;
	max-height: 100%;
	

}

header {
	background-image: url("../images/bgtile.png");
	 position: relative;
  	z-index: 1;
  	height: 400px;
}

header h1{
	font-size: 15px;
	display: inline;
	font-weight: lighter;
	padding-left: 10px;
	
}


.button {
	background-color: #466C90;
	color:#f4f4f6;;
	font-size: 14px;
	border-radius: 3px;
	border: #000000;
	left: 90px;
	position: relative;
	width: 90px;
	height: 50px;
	bottom: 30px;



}

.home {
	position: relative;
	padding-right
}

.brand{
	display: inline;
	padding-left: 475px;
	padding-top: 240px;
	
	
}



.banner {
  
  height: 200px;
  color: white;
  text-align: center;
  font-weight: 650;
  font-size: 18px;
}


.phones {
 
  position: relative;
  z-index: 2;
  top: -170px;
  left: 100px;
  font-size: 10px;
  font-weight: lighter;
  padding-right: 600px;
  margin: auto;

}

.frame {
	display: inline-block;
	position: relative;
	z-index: 2;
	top: -120px;
	left: 50px;
}

.main{
	position: relative;
	left: 400px;
	top: -390px;
	z-index: 2;
	font-size: 16px;
	color: #466C90;
	margin: 0;
}

.p1{
	position: relative;
	left: 400px;
	top: -390px;
	z-index: 2;
	margin: 0;
	padding-right: 440px;
	line-height: 1.8;

}


.p2{
	position: relative;
	left: 400px;
	top: -370px;
	z-index: 2;
	margin: 0;
	padding-right: 390px;
	line-height: 1.8;

}

.p3{ 
	position: relative;
	left: 400px;
	top: -370px;
	z-index: 2;
	margin: 0;

}

.apple {
	position: relative;
	left: 500px;
	bottom: 20px;
	top: -500px;

}

.google {
	position: relative;
	left: 680px;
	bottom: 20px;
	top: -555px;
}



ul {
	
	color: #125688;
	list-style-type: none;
	
}

li {
	display: inline;
	font-size: 12px;
	
}

footer {
	bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0 0 12px;
}

footer li {
	height: 100px;
	display: inline;
	font-size: 13px;

}

.copyright {
	display: inline;
	font-size: 13px;
	color: #d1d6dc;
}
