body{
	font: 15px Arial, Helvetica, sans-serif;
	

}

header {
	background-image: url("../images/bgtile.png");
}

.button {
	background-color: #466c90;
	color: #466c90;

}

.banner {
  
  height: 200px;
  color: white;
  text-align: center;
  font-weight: 650;
  font-size: 18px;
  z-index: 4;
}





ul {
	
	color: #125688;
	list-style-type: none;
	
}

li {
	display: inline;
	font-size: 12px;
	
}

footer {
	bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0 0 12px;
}